name: caching.yml
on: workflow_dispatch

jobs:
  test:
    name: Test & Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v5

      - name: Setup Node.js(LTS)
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint

      - name: Run tests
        run: npm test


  build:
    name: Build application
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout Source code
        uses: actions/checkout@v5

      - name: Setup node.js (LTS)
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: npm

      - name: Install dependencies
        run : npm ci

      - name: Build
        run: npm run build
