name: working with inputs
on:
  workflow_dispatch:
    inputs:
      dry-run:
        type: boolean
        description: skip deployment and only print build
        default: false
      environment:
        type: environment
        description: "Environment to deploy to"
        required: true
        default: "staging"
      debug:
        description: "Enable debug mode"
        required: false
        type: boolean
      tag:
        description: "Provide tag for the inputs"
        type: choice
        options:
          - v1
          - v2
          - v3
        default: v3



jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: build
        run: echo "Building from tag ${{inputs.tag}}"
  deploy:
    runs-on: ubuntu-latest
    if: ${{!inputs['dry-run']}}
    environment: ${{inputs.environment}}
    steps:
      - run:  echo "Deploying to environment ${{inputs.environment}}"
      - run: echo "Debug mode is ${{inputs.debug}}"


